html {
    scroll-behavior: smooth;
    overflow: hidden;
}

*,*::before,*::after {
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box;
}
  
* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:focus {outline:0;}

.left-footer {
    background-color: #3333CC;
    height: 450px;
}

img {
    margin: 100px;
}

.right-footer {
    background-image: linear-gradient(180deg, #3333CC 0%, #6666FF 100%);
    height: 450px;
}