html {
    scroll-behavior: smooth;
}

/* div {
    border: solid 1px red;
} */

body {
    font-family: 'Open Sans', sans-serif;
    color: #22272E;
}

*,*::before,*::after {
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box;
}
  
* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:focus {outline:0;}

/* Header */
.nav-item > a{
    font-size: 16px;
    margin-left: 13px;
    color: #22272E;
    text-decoration: none;
}

.nav-item > a:hover{
    color: #FF6666;
}

.register-nav {
    background-color: #FF6666;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    height: 30px;
    width: 108px;
}

.navbar-toggler-icon {
    background-image: url(./assets/hamburger.svg);
}

/* Main Content */
h2 {
    font-weight: 900;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

.flux {
    margin-top: 105px;
}

h4 {
    font-size: 21px;
    font-weight: 900;
    margin-top: 50px;
}

.para1 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0px !important;
}

.register-big {
    background-color: #FF6666;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 45px;
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 100px;
}

/* Cards */
h5 {
    font-size: 16px;
    font-weight: 600;
}

.card {
    border-radius: 6px;
    border: none;
    position: relative;
    width: 840px;
    height: 500px;
}

.card > img {
    position: absolute;
    width: 470px;
    height: 330px;
}

/* Nutanix.Design */
.white-bg {
    width: 70vw;
    height: 85vh;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}

h1 {
    position: relative;
    bottom: 5.5vh;
    font-size: 48px;
    font-weight: 600;
}

.card-para {
    font-size: 14px;
    width: 36vw;
    line-height: 18px;
    margin: auto;
    position: relative;
    top: -2vh;
}

.card-link {
    font-size: 18px;
    font-weight: 700;
    color: #22272E;
    text-decoration: none;
    position: relative;
    top: 2.5vh;
}

.team-img {
    position: relative;
    top: 10vh;
}

.team-img > img {
    width: 680px;
    height: 360px;
}

/* Footer */
.left-footer {
    background-color: #3333CC;
    height: 450px;
    text-align: center;
}

.left-footer > img {
    margin-top: 159px;
}

.right-footer {
    background-image: linear-gradient(180deg, #3333CC 0%, #6666FF 100%);
    height: 450px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    .left-footer > img {
        margin-top: 195px;
        width: 45px;
        height: 60px;
    }

    h2 {
        font-size: 21px;
    }

    .flux {
        width: 170px;
        height: 69px;
        margin-top: 60px;
    }

    .white-bg {
        width: 90vw;
        height: 60vh;
        border-radius: 6px;
        margin: auto;
    }

    h1 {
        position: relative;
        bottom: 2.5vh;
        font-size: 24px;
    }

    .card-para {
        font-size: 12px;
        width: 75vw;
    }

    .card-link {
        font-size: 16px;
    }

    .team-img > img {
        width: 90vw;
        height: auto;
        position: relative;
        top: 2vh;
    }
}