html {
    scroll-behavior: smooth;
}

/* * {
    border: solid 1px red;
} */

body {
    font-family: 'Open Sans', sans-serif;
    color: #22272E;
    font-weight: 300;
    overflow-x: hidden;
}

*,*::before,*::after {
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box;
}
  
* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:focus {outline:0;}

/* Header */
.nav-item > a{
    font-size: 16px;
    margin-left: 13px;
    color: #22272E;
    text-decoration: none;
}

.nav-item > a:hover{
    color: #FF6666;
}

.register-nav {
    background-color: #FF6666;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    height: 30px;
    width: 108px;
}

.navbar-toggler-icon {
    background-image: url(./assets/hamburger.svg);
}

/* Hero */
h2 {
    font-weight: 900;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

.flux {
    margin-top: 105px;
}

h4 {
    font-size: 21px;
    font-weight: 900;
    margin-top: 50px;
}

.para1 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0px !important;
}

.register-big {
    background-color: #FF6666;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 45px;
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 100px;
    margin-top: 100px;
}

/* Cards */
h5 {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

span {
    font-size: 44px;
}

.card-bg {
    background-color: white;
    border-radius: 6px;
    height: 75vh;
    width: 70vw;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.talk-wrapper-1 {
    display: flex;
}

.talk-wrapper-2 {
    text-align: left;
}

.talk-1 {
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: 2.54px;
    color: #6666FF;
    margin: 0;
    padding: 0;
    margin-left: 2.2vw;
    position: relative;
    bottom: 5.2vh;
}

.talk-2 {
    font-size: 33px;
    line-height: 45px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #6666FF;
    position: relative;
    bottom: 6vh;
    margin: 0;
    padding: 0;
    margin-left: 2.2vw;
}

h6 {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    color: #4D5969;
    margin-left: 1.2vw;
    position: relative;
    bottom: 5.3vh;
}

.talk-para {
    text-align: left;
    width: 350px;
    margin-left: 0;
    margin-right: 70px;
    font-size: 14px;
}

.gradient {
    text-align: left;
    height: 5px;
    width: 460px;
    background-image: linear-gradient(270deg, #6666FF 0%, #FF6666 100%);
    margin-left: 0;
    margin-top: 30px;
}

.talk-link {
    font-size: 16px;
    text-decoration: none !important;
    color: #22272E;
    position: relative;
    top: 20px;
}

.talk-link:hover {
    color: #FF6666;
}

.talk-img {
    position: relative;
    right: 65px;
}

/* Nutanix.Design */
.white-bg {
    width: 70vw;
    height: 80vh;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: relative;
    bottom: 5.5vh;
    font-size: 48px;
    font-weight: 600;
}

.card-para {
    font-size: 14px;
    width: 36vw;
    line-height: 18px;
    margin: auto;
    position: relative;
    top: -2vh;
}

.card-link {
    font-size: 18px;
    font-weight: 700;
    color: #22272E;
    text-decoration: none;
    position: relative;
    top: 2.5vh;
}

.card-link:hover {
    color: #FF6666;
}

.team-img {
    position: relative;
    top: 10vh;
}

.team-img > img {
    width: 680px;
    height: 360px;
}

/* Footer */
.left-footer {
    background-color: #3333CC;
    height: 450px;
    text-align: center;
}

.left-footer > img {
    margin-top: 159px;
}

.right-footer {
    background-image: linear-gradient(180deg, #3333CC 0%, #6666FF 100%);
    height: 450px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    .left-footer > img {
        margin-top: 195px;
        width: 45px;
        height: 60px;
    }

    h2 {
        font-size: 21px;
    }

    .flux {
        width: 170px;
        height: 69px;
        margin-top: 60px;
    }

    .white-bg {
        width: 90vw;
        height: 60vh;
        border-radius: 6px;
        margin: auto;
    }

    h1 {
        position: relative;
        bottom: 2.5vh;
        font-size: 24px;
    }

    .card-para {
        font-size: 12px;
        width: 75vw;
    }

    .card-link {
        font-size: 16px;
    }

    .team-img > img {
        width: 90vw;
        height: auto;
        position: relative;
    }

    /* Cards */
    .card-bg {
        width: 90vw;
        height: 107vh;
    }

    .talk-1 {
        font-size: 10px;
        letter-spacing: 0.5px;
        bottom: 28px;
    }    

    .talk-2 {
        font-size: 21px;
        letter-spacing: 1.27px;
        bottom: 40px;
    }

    h6 {
        font-size: 21px;
        bottom: 30px;
    }

    span {
        font-size: 21px;
    }

    .talk-img {
        width: 80vw;
        margin: auto;
        left: 5vw;
        bottom: 8vh;
    }

    .talk-wrapper-2:nth-child(2) {
        position: relative;
        right: 75vw;
        bottom: 12vw;
        width: 80vw;
    }

    .talk-para {
        width: 80vw;
        position: relative;
        top: 40vh;
    }

    h5 {
        position: relative;
        top: 40vh;
        width: 80vw;
    }

    .talk-wrapper-2 > h2 {
        position: relative;
        top: 40vh;
        width: 80vw;
    }

    .gradient {
        position: relative;
        width: 20vw;
        top: 40vh;
    }

    .talk-link {
        position: relative;
        top: 43vh;
        width: 80vw;
    }
}