html {
    scroll-behavior: smooth;
}

/* * {
    border: solid 1px red;
} */

body {
    font-family: 'Open Sans', sans-serif;
    color: #22272E;
    font-weight: 300;
    overflow-x: hidden;
}

*,*::before,*::after {
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box;
}
  
* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:focus {outline:0;}

/* Header */
.nav-item > a{
    font-size: 16px;
    margin-left: 13px;
    color: #22272E;
    text-decoration: none;
}

.nav-item > a:hover{
    color: #FF6666;
}

.register-nav {
    background-color: #FF6666;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    height: 30px;
    width: 108px;
}

.navbar-toggler-icon {
    background-image: url(./assets/hamburger.svg);
    width: 30px;
}

/* Hero */
h2 {
    font-weight: 900;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

.flux {
    margin-top: 200px;
}

h4 {
    font-size: 21px;
    font-weight: 900;
    margin-top: 50px;
}

.para1 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0px !important;
}

.register-big {
    background-color: #FF6666;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 45px;
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 100px;
    margin-top: 4px;
}

/* Cards */
.stories-bg {
    height: fit-content;
    padding-bottom: 25vh;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(0deg, rgba(255,102,102,0.25) 49%, rgba(102,102,255,0.25) 100%);
    /* background: url("./assets/fancy.svg") top no-repeat, linear-gradient(0deg, rgba(255,102,102,0.25) 49%, rgba(102,102,255,0.25) 100%); */
    /* background-size: 100vw; */
}

h5 {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

span {
    font-size: 44px;
}

.card-bg {
    background-color: white;
    border-radius: 6px;
    height: 460px;
    width: 880px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.talk-wrapper-1 {
    display: flex;
}

.talk-wrapper-2 {
    text-align: left;
}

.talk-1 {
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: 2.54px;
    color: #6666FF;
    margin: 0;
    padding: 0;
    margin-left: 2.3vw;
    position: relative;
    bottom: 30px;
}

.talk-2 {
    font-size: 33px;
    line-height: 45px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #6666FF;
    position: relative;
    bottom: 37px;
    margin: 0;
    padding: 0;
    margin-left: 2.2vw;
}

h6 {
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    color: #4D5969;
    margin-left: 1.2vw;
    position: relative;
    bottom: 33px;
}

.talk-para {
    text-align: left;
    width: 350px;
    margin-left: 0;
    margin-right: 70px;
    font-size: 14px;
}

.gradient {
    text-align: left;
    height: 5px;
    width: 460px;
    background-image: linear-gradient(270deg, #6666FF 0%, #FF6666 100%);
    margin-left: 0;
    margin-top: 30px;
}

.talk-link {
    font-size: 16px;
    text-decoration: none !important;
    color: #22272E;
    position: relative;
    top: 20px;
}

.talk-link:hover {
    color: #FF6666;
}

.talk-img {
    position: relative;
    right: 65px;
}

/* Panel Discussion */
.panel-1 {
    font-weight: 900;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
    margin-left: 2.3vw;
}

.panel-2 {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-left: 2.3vw;
}

.panel-3 {
    text-align: left;
    width: 550px;
    margin-left: 2.3vw;
    font-size: 14px;
}

/* Nutanix.Design */
.white-bg {
    width: 880px;
    height: 550px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: relative;
    bottom: 35px;
    font-size: 48px;
    font-weight: 700;
}

.card-para {
    font-size: 16px;
    width: 580px;
    line-height: 22px;
    margin: auto;
    position: relative;
    top: -2vh;
}

.card-link {
    font-size: 18px;
    font-weight: 700;
    color: #22272E;
    text-decoration: none;
    position: relative;
    top: 20px;
}

.card-link:hover {
    color: #FF6666;
}

.team-img {
    position: relative;
    top: 73px;
}

.team-img > img {
    width: 680px;
    height: 360px;
}

/* Agenda and About */
.agenda-row {
    display: flex;
    justify-content: center;
}

.agenda {
    background-color: white;
    border-radius: 6px;
    width: 420px;
    /* height: fit-content; */
    margin-top: 18vh;
}

.agenda > h6 {
    margin-left: 2vw;
}

.venue-link {
    font-size: 18px;
    font-weight: 700;
    color: #22272E;
    text-decoration: none !important;
    margin-left: 2vw;
    display: inline-block;
    margin-top: 30px;
}

.venue-link:hover {
    color: #FF6666;
}

.agenda:nth-child(1) {
    margin-right: 20px;
}

.agenda:nth-child(2) {
    margin-left: 20px;
}

.agenda-text-1 {
    font-size: 18px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 0;
}

.agenda-text-2 {
    font-weight: 700;
    font-size: 24px;
    margin-left: 2vw;
    margin-top: 0;
}

.about-h {
    font-size: 44px;
    color: #4D5969;
    margin-left: 2vw;
    margin-top: 80px;
}

/* Footer */
.left-footer {
    background-color: #3333CC;
    height: 450px;
    text-align: center;
}

.left-footer > img {
    margin-top: 159px;
}

.right-footer {
    background-image: linear-gradient(180deg, #3333CC 0%, #6666FF 100%);
    height: 450px;
}

/* -------------------------------------------- */

/* Media Query */
@media only screen and (max-width: 600px) {
    .left-footer > img {
        margin-top: 195px;
        width: 45px;
        height: 60px;
    }

    h2 {
        font-size: 21px;
    }

    .flux {
        width: 170px;
        height: 69px;
        margin-top: 90px;
    }

    /* Nutanix.Design */
    .white-bg {
        width: 90vw;
        height: 442px;
        border-radius: 6px;
        margin: auto;
    }

    h1 {
        position: relative;
        bottom: 16px;
        font-size: 24px;
    }

    .card-para {
        font-size: 17px;
        width: 75vw;
        margin-top: 30px;
    }

    .card-link {
        font-size: 16px;
    }

    .team-img > img {
        width: 90vw;
        height: auto;
        position: relative;
    }

    /* Cards */
    .card-bg {
        width: 90vw;
        height: 44rem;
    }

    .talk-1 {
        font-size: 10px;
        letter-spacing: 0.5px;
        bottom: 28px;
    }    

    .talk-2 {
        font-size: 21px;
        letter-spacing: 1.27px;
        bottom: 40px;
    }

    h6 {
        font-size: 21px;
        bottom: 30px;
    }

    span {
        font-size: 25px;
    }

    .talk-img {
        width: 80vw;
        margin: auto;
        left: 5vw;
        bottom: 4rem;
    }

    .talk-wrapper-2:nth-child(2) {
        position: relative;
        right: 75vw;
        bottom: 8vw;
        width: 80vw;
    }

    .talk-para {
        width: 80vw;
        position: relative;
        top: 17rem;
    }

    h5 {
        position: relative;
        top: 16.4rem;
        width: 80vw;
    }

    .talk-wrapper-2 > h2 {
        position: relative;
        top: 17rem;
        width: 80vw;
    }

    .gradient {
        position: relative;
        width: 20vw;
        top: 17rem;
    }

    .talk-link {
        position: relative;
        top: 18.3rem;
        width: 80vw;
    }

    /* Panel Discussion */
    .panel-1 {
        font-size: 21px;
        margin-left: 5vw;
    }

    .panel-2 {
        font-size: 16px;
        font-weight: 600;
        margin-left: 5vw;
    }

    .panel-3 {
        width: 80vw;
        margin-left: 5vw;
    }

    /* Agenda and About */
    .agenda-row {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .agenda {
        width: 90vw;
        margin-left: 0;
        margin-right: 0 !important;
    }

    .agenda:nth-child(2) {
        margin-left: 0;
        padding-bottom: 60px;
    }

    .agenda-text-1 {
        margin-left: 5vw;
        font-size: 17px;
    }

    .agenda-text-2 {
        margin-left: 5vw;
        font-size: 20px;
    }

    .venue-link {
        margin-left: 5vw;
        font-size: 17px;
    }

    .agenda > h6 {
        margin-left: 5vw;
    }

    .about-h {
        font-size: 25px;
        margin-left: 5vw;
        margin-top: 70px;
    }

    .about-h > .agenda-text-1 {
        width: 80vw;
    }
}